/* add your CSS here */

body{
  align-items: left;
}

#outer{
  border: 1px solid #e0e0e0;
  margin: 1em;
  box-shadow: 7px 7px #e0e0e0;
  padding: 1em;
  width: 310px;
}

#inner{
  border: 1px solid #e0e0e0;
  padding: 1em;
  text-align:left;
  margin:0.5em;
}
img{
  width: 300px;
  height: 200px;
  margin:0.5em;
}

ul{
   list-style-type: none;
  padding: 0;
}

.fact{
   font-style: italic; 
}

span{
  font-weight: bold;
}

h2{
  margin:0.5em;
  padding:0;
}